/*............ Tablet screen ........... */
/* navbar */

@media (max-width: 1024px) {
  .home {
    display: inline;
  }
  .main_overall {
    margin: auto;
    width: 98%;
    height: 63vh;
  }
  .overall {
    justify-content: center;
  }
  .li {
    display: none;
  }
  .res_logo {
    width: 130px;
  }
  .res_wel {
    padding-top: 50px;
    font-size: 28px;
  }
  .res_head {
    font-size: 32px;
  }
  .res_button1 {
    display: none;
  }
}
/* part-1  */

@media (max-width: 1024px) {
  .res_para {
    width: 95%;
    height: 570px;
  }
  .about_res {
    font-size: 19px;
  }
  .res_button2 {
    margin-top: 40px;
    width: 140px;
    height: 60px;
    font-size: 18px;
  }
  .org_img1 {
    background-position: top;
    width: 95%;
    height: 550px;
    margin: 10px 0 8px 30px;
  }
  .pos_img {
    margin: auto;
    width: 90%;
  }
  .lamp_img {
    width: 325px;
    height: 48vh;
  }
}
/* part-2  */
@media (max-width: 1024px) {
  .part-2 {
    background-position: center;
    height: 60vh;
  }
  .res_history {
    white-space: nowrap;
  }
  .res_his hr {
    width: 220px;
  }
  .res_par {
    width: 300px;
    font-size: 18px;
  }
  .res_button3 {
    width: 220px;
    height: 80px;
    font-size: 16px;
  }
}
/* part-3  */

@media (max-width: 1024px) {
  .res_part3 {
    display: block;
  }
  .res_dining {
    margin: auto;
    width: 50%;
  }
  .res_dessert {
    margin: 20px auto;
    width: 50%;
  }
  .res_menu {
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .res_menu_head {
    text-align: center;
  }
  .res_para_menu {
    font-size: 20px;
  }
  .res_button4 {
    width: 180px;
    height: 60px;
    font-size: 16px;
    margin-top: 60px;
  }
}

/* .............Mabile screen.............. */
/* navbar  */

@media screen and (max-width: 767px) {
  .main_overall {
    margin: auto;
    width: 98%;
    height: 70vh;
  }
  .overall {
    justify-content: center;
  }
  .li {
    display: none;
  }
  .home {
    display: inline;
  }
  .logo {
    margin: auto;
    width: 30%;
  }
  .res_logo {
    width: 100px;
  }
  .res_wel {
    white-space: nowrap;
    margin: auto;
    width: 50%;
    font-size: 28px;
    padding-top: 50px;
  }
  .res_button1 {
    display: none;
  }
  .res_head {
    font-size: 17px;
  }
}
/* part-1 */

@media screen and (max-width: 480px) {
  .container {
    display: block;
  }
  .res_para {
    width: 100%;
  }
  .about_res {
    font-size: 18px;
  }
  .res_button2 {
    margin-top: 50px;
    width: 140px;
    height: 60px;
    font-size: 18px;
  }
  .org_img1 {
    background-position: top;
    margin: 0;
    width: 100%;
    height: 75vh;
  }
  .pos_img {
    margin: auto;
    width: 93%;
  }
  .lamp_img {
    width: 330px;
    height: 72vh;
  }
}
/* part-2 */

@media screen and (max-width: 480px) {
  .part-2 {
    background-position: center;
    height: 115vh;
  }
  .res_year {
    margin: auto;
    width: 85%;
    font-size: 38px;
  }
  .res_history {
    margin: auto;
    width: 85%;
    padding-top: 25px;
  }
  .res_his hr {
    margin: auto 30px;
    margin-top: 50px;
    width: 280px;
  }
  .res_sent {
    margin-top: 40px;
    font-size: 16px;
  }
  .flex {
    display: block;
  }
  .res_par {
    width: 280px;
    font-size: 20px;
  }
  .res_pars {
    width: 80%;
  }
  .res_button3 {
    width: 160px;
    height: 60px;
    font-size: 13px;
  }
}
/* part-3 */

@media screen and (max-width: 480px) {
  .res_part3 {
    display: block;
  }
  .res_dining {
    width: 100%;
  }
  .res_dessert {
    width: 100%;
    margin-top: 30px;
  }
  .res_menu {
    margin-top: 30px;
    text-align: center;
    width: 78%;
  }
  .res_menu_head {
    text-align: center;
  }
  .res_para_menu {
    font-size: 18px;
  }
  .res_button4 {
    width: 150px;
    height: 60px;
    font-size: 16px;
    margin-top: 60px;
  }
}
/* part-4  */

.part_4 {
  display: block;
}
