* {
  margin: 3px;
  padding: 0;
  /* overflow-x:hidden; */
}
/* Navbar */

.overall {
  justify-content: space-between;
}
.backgrd-1 {
  width: 100%;
  height: 100%;
}
.home {
  position: absolute;
  left: 30px;
  top: 40px;
  z-index: 2;
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: #000000;
}
.color {
  color: #967159;
}
.home li:hover {
  color: #af7980;
}
.res_logo {
  position: absolute;
  left: 500px;
  top: 10px;
  z-index: 2;
}
.res_button {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
  border: none;
  width: 130px;
  height: 35px;
  color: white;
  background-color: #af8366;
}
.res_button:hover {
  background-color: #6c5546;
}
.res_wel {
  position: absolute;
  left: 465px;
  font-size: 24px;
  color: #b3835d;
  top: 100px;
  z-index: 2;
}
.res_head {
  position: absolute;
  left: 170px;
  top: 180px;
  color: #143642;
  font-size: 43px;
  z-index: 2;
}
/* part-1 */
.container {
  display: grid;
  height: 600px;
  margin: 0 0 0 10px;
  grid-template-columns: auto auto;
}
.about {
  padding: 30px 0 0 0;
  color: #143642;
  font-size: 40px;
}
.res-para {
  width: 300px;
  margin: 0 0 0 35px;
}
.about-res {
  width: 260px;
  font-size: 12px;
  padding: 40px 0 0 0;
}
.res_img-2 {
  width: 700px;
}
.res-back-2 {
  padding: 10px 5px 0 20px;
  background-color: #f4efeb;
}
.res_img {
  position: absolute;
  right: 20px;
  top: 640px;
  z-index: 2;
}
.res-button-2 {
  margin: 200px 0 0 20px;
  border: none;
  width: 90px;
  height: 35px;
  color: white;
  font-size: 09px;
  background-color: #a97959;
}
.res-button-2:hover {
  background-color: #634937;
}

/* part-2 */
.part2_over {
  color: #143642;
}
.part-2 {
  margin: 20px 0 0 0;
}
.backgrd-3 {
  background-color: #d6c9bf;
  width: 100%;
  height: 100%;
}
.res_year {
  position: absolute;
  top: 1280px;
  left: 380px;
  z-index: 2;
  font-size: 35px;
  color: #143642;
}
.res_history {
  position: absolute;
  top: 1350px;
  left: 380px;
  z-index: 2;
}
.res_his hr {
  position: absolute;
  top: 1450px;
  left: 60px;
  z-index: 2;
  color: black;
  border: 0.5px solid;
  width: 300px;
}
.res_sent {
  position: absolute;
  top: 1480px;
  font-size: 10px;
  font-weight: bold;
  color: #143e55;
  left: 60px;
  z-index: 2;
}
.res_par {
  position: absolute;
  top: 1440px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #143e55;
  left: 380px;
  width: 590px;
  z-index: 2;
}
.res_button_4 {
  position: absolute;
  top: 1580px;
  left: 380px;
  z-index: 2;
  font-size: 10px;
  background-color: #a97959;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
}
.res_button_4:hover {
  background-color: #634937;
  cursor: pointer;
}
/* part-3  */
.res_part3 {
  display: flex;
}
.res_dining {
  width: 100%;
  height: 100%;
}
.dining {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: white;
  top: 2190px;
  left: 50px;
  z-index: 2;
}
.res_desert {
  width: 100%;
  height: 100%;
}
.dessert {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: white;
  top: 2190px;
  left: 430px;
  z-index: 2;
}
.res_menu {
  text-align: end;
  border: 1px solid black;
  background-color: #143642;
  width: 960px;
  color: white;
}
.res_menu_head {
  text-align: end;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 30px 0 0;
}
.res_para_menu {
  padding: 30px 30px 0 95px;
  font-size: 13px;
  color: #9fb9c6;
}
.res_button_5 {
  font-size: 10px;
  font-weight: bold;
  background-color: #a97959;
  color: white;
  margin: 20px 30px 0 0;
  border: none;
  width: 120px;
  height: 40px;
}
.res_button_5:hover {
  background-color: #634937;
  cursor: pointer;
}
/* part-4 */
.part-4 {
  display: flex;
  color: #0f2a38;
}
.para-4 {
  padding: 50px 0 0 0;
  width: 250px;
  font-weight: 100;
}
.spl {
  padding: 20px 0 0 0;
}
.today {
  padding: 50px 50px 0 50px;
  font-weight: bold;
  border: 1px solid #c0bbbb;
}
.backgrd-4 {
  width: 100%;
  height: 400px;
}
.amount {
  border: 1px solid black;
  color: white;
  padding: 20px 50px 80px 50px;
  background-color: #143642;
  width: 290px;
  height: 300px;
  position: absolute;
  top: 2270px;
  right: 5px;
  z-index: 1;
}
.main_food {
  font-size: 14px;
  font-weight: 800;
}
.food_list {
  color: #9fb9c6;
  font-size: 12px;
  font-weight: 200;
}
.dolor {
  color: #a16b4e;
}
/* part-5  */
.overall_5{
 text-align: center;
}
.backgrd-5 {
  width: 100%;
  height: 100%;
}
hr{
  width: 200px;
}
.res_vat{
  color: #a16b4e;
}
